<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--
    Connection string personnel raph
    <add name="PE2_OfficielEntities" connectionString="metadata=res://*/Modele.PE2_Officiel.csdl|res://*/Modele.PE2_Officiel.ssdl|res://*/Modele.PE2_Officiel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFO-324-1A-115\SQLEXPRESS;initial catalog=PE2_Officiel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
    -->
    <!--
    Connection string server
    --><add name="PE2_OfficielEntities" connectionString="metadata=res://*/Modele.PE2_Officiel.csdl|res://*/Modele.PE2_Officiel.ssdl|res://*/Modele.PE2_Officiel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.8.42;initial catalog=PE2_Officiel;uid=P2016_Equipe2;pwd=Rasipike;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="PE2_OfficielEntities" connectionString="metadata=res://*/Modele.PE2_Officiel.csdl|res://*/Modele.PE2_Officiel.ssdl|res://*/Modele.PE2_Officiel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;initial catalog=PE2_Officiel;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>