@{
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}
<h1>@L("WellcomeMessage")</h1>

<div class="jumbotron">
    <h1>ECJ</h1>
    <p class="lead">ECJ, qui veut dire Évènement du cégep de Jonquière, est une entreprise qui créer, gère et applique des évènement au cégep de jonquière.</p>
</div>

@* Mettre les mémos ici *@

<div class="row">
    <div class="col-md-4">
        <h2>Évènements</h2>
        <p>
            Ici contient tous les informations par rapports aux événements. Il est possible de voir chaque évènement, ainsi que leurs dates et l'heure de ces derniers.
        </p>
        <p><a class="btn btn-primary" href="/Events/Index">Voir les Évènements &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Publicités</h2>
        <p>
            Ici contient tous les informations par rapports aux publicités. Il est possible de voir l'affiche, le média ainsi que la date de la sortie.
        </p>
        <p><a class="btn btn-primary" href="/Publicite/Index">Voir les publicitées &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Forfaits</h2>
        <p>Ici contient tous les informations par rapport aux forfaits. Il est possible de voir les types de forfaits, les places, le prix ainsi que de faire un approximatif du prix final selon le nombre de place.</p>
        <p><a class="btn btn-primary" href="/Calculateur/Index">Voir les forfaits &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Activités</h2>
        <p>Ici contient tous les informations par rapport aux activités. Il est possible de voir les responsables, les tâches ainsi que les details des activités .</p>
        <p><a class="btn btn-primary" href="/Activite/Index">Voir les activités &raquo;</a></p>
    </div>

    <div class="col-md-4">
        <h2>Commanditaires</h2>
        <p>Ici contient tous les informations par rapport aux commanditaires. Il est possible de voir les commanditaires, leurs dons ainsi que leurs logo.</p>
        <p><a class="btn btn-primary" href="/Commanditaire/Index">Voir les commanditaires &raquo;</a></p>
    </div>
</div>