<script src='https://www.google.com/recaptcha/api.js'></script>

<h1>CAPTCHA</h1>
<legend></legend>
<h4>Confirmez que vous n'êtes pas un robot</h4>

<form>
    <div class="g-recaptcha" data-sitekey="6LeEOA0UAAAAAAOAP2VlD_mhjIK5yA1jgNQanxVJ"></div>
</form>

<div class="form-group pull-right">
    <a href="~/Account/Captcha/1" class="btn btn-sm btn-primary" title="Captcha"><i class="fa fa-info-circle fa-lg"></i></a>
    <button class="btn btn-primary blue valid"><i class="fa fa-save"></i> <span>Confirmer</span></button>
</div>