@model ECJ.Web.Models.AbpUsers
    
@{
    ViewBag.Title = "Verification";
}

<h2>Sécuritée du compte</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <legend></legend>
    <div class="form-group">
        <label>Choisir la bonne image de profil</label>
    </div>

    
    <div>
        <img src="https://sd-cdn.fr/wp-content/uploads/2016/03/comment-creer-bon-profil-linkedin.jpg" width="200" height="200" alt="Profil 1" style="border:solid" />
        <img src="https://cdn.pixabay.com/photo/2012/04/13/21/07/user-33638_960_720.png" width="200" height="200" alt="Profil 2" style="border:solid" />
        <img src="https://cdn.pixabay.com/photo/2012/04/13/00/21/lady-31217_960_720.png" width="200" height="200" alt="Profil 3" style="border:solid" />
    </div>
    <div>
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ-pW_R4dOkNqHWUb-4xbilXGBef03cx46Y4o11RW3ZniV5V1bt" width="200" height="200" alt="Profil 4" style="border:solid" />
        <img src="~/Account/GetFile/@Model.Id" width="200" height="200" style="border:solid" alt="Impossible de charger l'affiche" />
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcRrRkQr48RGmDUcBMrdMyDEFl76vU_IiQsctauH5NEwRqy2u6Eh" width="200" height="200" alt="Profil 6" style="border:solid" />
    </div>
    <div>
        <img src="http://jpnselangor.moe.gov.my/jpict/images/User-icon.png" width="200" height="200" alt="Profil 7" style="border:solid" />
        <img src="http://statusnet.com.br/wp-content/uploads/2015/12/customer_person_people_man_user_client_1630.png" width="200" height="200" alt="Profil 8" style="border:solid" />
        <img src="http://www.sefairepayer.com/images/profils-debiteur/profil-irreductible.png" width="200" height="200" alt="Profil 9" style="border:solid" />
    </div>
}