@using Abp.Web.Mvc.Extensions
@{
    ViewBag.Title = "Detail";
}
<button data-target="#UserAjoutModal" data-toggle="modal" class="btn btn-primary pull-right"><i class="fa fa-calculator"></i> Ouvrir le calculateur</button>

<h2>Détail d'un sous-évènement</h2>

<div class="form-group">
    <label>Évènement</label>
    <div class="well well-sm">
        Festi-rire 2016
    </div>
</div>

@{
    List<string[]> elements = new List<string[]>()
    {
        new string[] {"Nom", "Souper spectacle" }
    };
}
@section scripts
{
    @Html.IncludeScript("~/Views/SousEvenements/Index.js")
}
<div name="createPub" role="form" novalidate class="form-validation">

    @foreach (var user in elements)
    {
        <div class="form-group">
            <label>@user[0]</label>
            <div class="well well-sm">
                @user[1]
            </div>
        </div>
    }

    <div class="form-group">
        <label>Description</label>
        <div class="well well-lg">
            Le souper spectacle avec mike ward
        </div>
    </div>
    <label>Services requis</label>
    <button data-target="#UserAjoutModal" data-toggle="modal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Ajouter un service</button>
    <div class="form-group">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Restauration</td>
                    <td>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Techniciens audio</td>
                    <td>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <label>Salles</label>
    <a href="/sousEvenements/Ajout" data-toggle="modal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Ajouter une salle</a>
    <div class="form-group">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Billets standard</th>
                    <th>Billets VIP</th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Salle François Brassard</td>
                    <td>5000$</td>
                    <td>10$</td>
                    <td>30$</td>
                    <td>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <label>Forfaits</label>
    <a href="/sousEvenements/Ajout" data-toggle="modal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Ajouter un forfait</a>
    <div class="form-group">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Étudiants</td>
                    <td>Le forfaits étudiants est en fait un forfaits pour toutes personnes en dessous de 25 ans et qui est encore aux études.</td>
                    <td>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Familiale</td>
                    <td>Le forfaits familiale est un combo pour deux adultes et deux enfants en dessous de 14 ans.</td>
                    <td>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <label>Engagement</label>
    <a href="/sousEvenements/Ajout" data-toggle="modal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Ajouter un engagement</a>
    <div class="form-group">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Statut</th>
                    <th>Date</th>
                    <th>Montant</th>
                    <th>Description courte</th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>L'éclairage</td>
                    <td>En cours</td>
                    <td>14/10/2016</td>
                    <td>120.00$</td>
                    <td>Doit changer une ampoule dans la section B</td>
                    <td>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>La musique</td>
                    <td>En cours</td>
                    <td>18/10/2016</td>
                    <td>40.00$</td>
                    <td>Doit mettre de nouveaux morceaux a la musique d'avant-spectacle</td>
                    <td>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <label>Activités</label>
    <a href="/Activite/Ajout/?sousevenement_id=@Model.noEvenement" data-toggle="modal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Ajouter une activité</a>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#liste" data-toggle="tab" aria-expanded="true">Liste</a></li>
        <li class=""><a href="#calendrier" data-toggle="tab" aria-expanded="false">Calendrier</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane active fade in" id="liste">
            <div class="form-group">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Responsable</th>
                            <th>Tâche</th>
                            <th>Détails</th>
                            <th>Date</th>
                            <th class="col-md-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Jean Tremblay</td>
                            <td>Faire une entrevue à la radio</td>
                            <td>Jean est allé parler de nous à la radio NRJ et RougeFM</td>
                            <td>30-09-2016</td>
                            <td>
                                <a href="/Events/Detail" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                                <a href="" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                                <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Jean-Claude Bouchard</td>
                            <td>Faire une publication</td>
                            <td>Jean-Claude a publié sur Facebook à propos du sous-évènement</td>
                            <td>25-09-2016</td>
                            <td>
                                <a href="/Events/Detail" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                                <a href="" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                                <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade in clearfix" id="calendrier">
            <div id="calendrier-inner" class="col-md-4 col-md-offset-4">

            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="UserAjoutModal" tabindex="-1" role="dialog" aria-labelledby="UserAjoutModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form name="userAjoutForm" role="form" novalidate class="form-validation">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span>Choisir un service</span>
                    </h4>
                </div>
                <div class="modal-body">

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nom du service</th>
                                <th>Sélection</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Bar</td>
                                <td><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check-square"></i></button></td>
                            </tr>
                            <tr>
                                <td>Restaurant</td>
                                <td><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check-square"></i></button></td>
                            </tr>
                            <tr>
                                <td>Techniciens</td>
                                <td><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check-square"></i></button></td>
                            </tr>
                            <tr>
                                <td>Grande scène</td>
                                <td><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check-square"></i></button></td>
                            </tr>
                            <tr>
                                <td>Filets pour acrobates</td>
                                <td><button type="submit" class="btn btn-primary btn-sm"><i class="fa fa-check-square"></i></button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                </div>
            </form>
        </div>
    </div>
</div>