@model Exception
@if (Model != null)
{
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h4>Erreur</h4>
        <div class="">Une erreur s'est produite dans la base de données.<button type="button" class="btn btn-default pull-right" data-toggle="collapse" data-target="#erreur">Cliquez pour les détails de l'erreur</button></div>
        <div>Vous pouvez vérifier l'erreur en cliquant sur le bouton à droite.</div>

        <br />
        <div id="erreur" class="collapse well">
            @{
                Exception e = Model;
                do
                {
                    <div>@e.Message</div>
                        e = e.InnerException;
                    } while (e != null);
                }
        </div>
    </div>
                }
