@{
    ViewBag.Title = "Ajout";
}
<h2>Créer un utilisateur</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="form-group">
        <label>Nom d'utilisateur</label>
        <input class="form-control" type="text" name="UserName" required>
    </div>
    <div class="form-group">
        <label>Prénom</label>
        <input class="form-control" type="text" name="Name" required>
    </div>
    <div class="form-group">
        <label>Nom de famille</label>
        <input class="form-control" type="text" name="Surname" required>
    </div>
    <div class="form-group">
        <label>Adresse courriel</label>
        <input class="form-control courriel" type="text" name="EmailAddress" required>
    </div>
    <div class="form-group">
        <label>Rôle</label>
        <select class="form-control" name="Role">
            <option value="0" selected>Employé</option>
            <option value="3">Agent</option>
            <option value="4">Agent senior</option>
            <option value="5">Représentant</option>
            <option value="2">Administrateur</option>
        </select>
    </div>
    <div class="form-group">
        <label>Mot de passe</label>
        <input class="form-control" type="password" name="PasswordChange" required>
    </div>

    <div class="form-group">
        <label>Image de profil</label>
        <input type="file" name="pic" accept="image/png,image/jpeg,image/gif">
    </div>
    <div class="form-group">
        <label>Question secrète</label>
        <select class="form-control">
            <option>Quelle est la date de naissance de votre père?</option>
        </select>
        <input class="form-control" type="text" name="QS" placeholder="Réponse" required>
    </div>
    <div class="form-group">
        <label>Activé <input type="checkbox" name="IsActive" value="True" checked></label>
    </div>
    <div class="form-group pull-right">
        <button class="btn btn-primary blue valid"><i class="fa fa-save"></i> <span>Ajouter</span></button>
        <a href="/Users" class="btn btn-default" data-dismiss="modal">Annuler</a>
    </div>

}