<div class="footer-distributed">
    <footer>
        <div class="container">
            <div class="footer-left">
                <a href="" class="btn btn-primary" id="btn_memo"><i class="fa fa-plus"></i> Créer un mémo</a>
                <h3>Cégep de Jonquière<span></span></h3>
                <p class="footer-company-name">Cégep de Jonquière &copy; 2015</p>
            </div>
            <div class="footer-center">
                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><span>2505, rue Saint-Hubert</span> Jonquière, Québec G7X 7W2 </p>
                </div>
                <div>
                    <i class="fa fa-phone"></i>
                    <p>418 547-2191</p>
                </div>
                <div>
                    <i class="fa fa-envelope"></i>
                    <p><a href="mailto:support@company.com">cegepjonquiere@company.com</a></p>
                </div>
            </div>
            <div class="footer-right">
                <p class="footer-company-about">
                    <span>About the company</span>
                    Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                </p>
                <div class="footer-icons">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>

    </footer>
</div>