@using Abp.Web.Mvc.Extensions

@{
    ViewBag.Title = "ViewCalculateur";
}
<h2>Calculateur</h2>

@section scripts
{
    @Html.IncludeScript("~/Views/Calculateur/Index.js")
    @Html.IncludeStyle("~/Views/Calculateur/Index.css")
}
<div class="row">
    <form class="form-horizontal">
        <div class="col-md-6" id="calculateur" >
            <table class="table" >
                <tbody>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Billets</label>
                                <input type="number" class="form-control" id="nbBillet" onblur="calculBillet()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Prix</label>
                                <input type="number" class="form-control" id="prixBillet" onblur="calculBillet()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="disabledInput">Total</label>
                                <input class="form-control" id="totalBillet" type="number" disabled="">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Billets V.I.P</label>
                                <input type="number" class="form-control" id="nbBilletVIP" onblur="calculBilletVIP()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Prix</label>
                                <input type="number" class="form-control" id="prixBilletVIP" onblur="calculBilletVIP()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="disabledInput">Total</label>
                                <input class="form-control" id="totalBilletVIP" type="number" disabled="">
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6" id="salle">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom de la salle</th>
                        <th>Nombre de places V.I.P</th>
                        <th>Nombre de places</th>
                        <th>Coûts</th>
                        <th>Détails</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tr>
                    <td>Saint-François Brassard</td>
                    <td id="vip">40</td>
                    <td id="billet">320</td>
                    <td>1500.00</td>
                    <td>Grande salle de spectacle avec des balcons</td>
                    <td>2016/11/03</td>
                </tr>
            </table>
        </div>
    </form>
</div>
<form class="form-horizontal">
    <div class="row" id="SouperPlaces">
        <div class="col-md-6" id="souper">
            Souper Spectacle
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Nombre de places</label>
                                <input type="number" class="form-control" id="nbBilletSouper" onblur="calculSouperSpectacle()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Prix</label>
                                <input type="number" class="form-control" id="prixSouper" onblur="calculSouperSpectacle()">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="disabledInput">Total</label>
                                <input class="form-control" id="totalSouper" type="number" disabled="">
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" id="forfaits">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Forfaits inclus</th>
                    </tr>
                    <tr>
                        <td>Souper Spectacle</td>
                    </tr>
                    <tr>
                        <td>Rabais par l'âge</td>
                    </tr>
                    <tr>
                        <td>Réductions de prix</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

<form class="form-horizontal">
    <div class="col-md-6"  id="age">
        <table class="table">
            Reduction selon les tranches d'âge
            <tr>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Jeunes % Rabais</label>
                        <input type="number" class="form-control" id="JeunePourcent" onblur="pourcentCheck()">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Nombre de billets</label>
                        <input type="number" class="form-control" id="nbBilletJeune">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="disabledInput">Total</label>
                        <input class="form-control" id="totalPourcentRabaisJeune" type="number" disabled="">
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Adultes % Rabais</label>
                        <input type="number" class="form-control" id="AdultesPourcent" onblur="pourcentCheck()">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Nombre de billets</label>
                        <input type="number" class="form-control" id="inputDefault">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="disabledInput">Total</label>
                        <input class="form-control" id="disabledInput" type="number" disabled="">
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Ainés % Rabais</label>
                        <input type="number" class="form-control" id="AinePourcent" onblur="pourcentCheck()">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Nombre de billets</label>
                        <input type="number" class="form-control" id="inputDefault">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="disabledInput">Total</label>
                        <input class="form-control" id="disabledInput" type="number" disabled="">
                    </div>
                </th>
            </tr>
        </table>
    </div>
</form>
<div class="col-md-6" id="carte">
    Carte de l'emplacement de la salle.
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2648.6453269213494!2d-71.24667188474935!3d48.405753937193936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2dd30e450fd3bd83!2zQ8OpZ2VwIGRlIEpvbnF1acOocmU!5e0!3m2!1sfr!2sca!4v1476204181668" width="350" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-6"  id="rabais">
            Billet a prix réduits.
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Nombre de billets</label>
                                <input type="text" class="form-control" id="inputDefault">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Prix</label>
                                <input type="text" class="form-control" id="inputDefault">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="disabledInput">Total</label>
                                <input class="form-control" id="disabledInput" type="text" disabled="">
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<form class="form-horizontal">
    <div class="row" id="calculfinal">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Profits total</th>
                        <th>Dépenses total</th>
                    </tr>
                    <tr>
                        <th>
                            2800.00$
                        </th>
                        <th>
                            3500.00$
                        </th>
                    </tr>
                </thead>
            </table>
            <a href="#" class="btn btn-default">Calculer</a>
        </div>
        <div class="col-md-6" id="map">
            Plan de la salle
            <img src="http://i.imgur.com/2VxTEYs.png" height="700" width="500"/>
        </div>
    </div>
</form>
