
@{
    ViewBag.Title = "ViewCalculateur";
}
<h2>Calculateur</h2>
<div class="row" id="calculateur">
    <form class="form-horizontal">
        <div class="col-md-6">
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Billets</label>
                                <input type="text" class="form-control" id="inputDefault">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Prix</label>
                                <input type="text" class="form-control" id="inputDefault">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="disabledInput">Total</label>
                                <input class="form-control" id="disabledInput" type="text" disabled="">
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Billets V.I.P</label>
                                <input type="text" class="form-control" id="inputDefault">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Prix</label>
                                <input type="text" class="form-control" id="inputDefault">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="disabledInput">Total</label>
                                <input class="form-control" id="disabledInput" type="text" disabled="">
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6" id="salle">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom de la salle</th>
                        <th>Nombre de places V.I.P</th>
                        <th>Nombre de places</th>
                        <th>Coûts</th>
                        <th>Détails</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tr>
                    <td>Saint-François Brassard</td>
                    <td>40</td>
                    <td>320</td>
                    <td>1500.00</td>
                    <td>Grande salle de spectacle avec des balcons</td>
                    <td>2016/11/03</td>
                </tr>
            </table>
        </div>
    </form>
</div>

<form class="form-horizontal">
    <div class="row" id="SouperPlaces">
        <div class="col-md-6" id="forfaits">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Forfaits inclus</th>
                    </tr>
                    <tr>
                        <td>Souper Spectacle</td>
                    </tr>
                    <tr>
                        <td>Rabais par l'âge</td>
                    </tr>
                    <tr>
                        <td>Réductions de prix</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6" id="souper">  
            Souper Spectacle
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Nombre de places</label>
                                <input type="text" class="form-control" id="inputDefault">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Prix</label>
                                <input type="text" class="form-control" id="inputDefault">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="disabledInput">Total</label>
                                <input class="form-control" id="disabledInput" type="text" disabled="">
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>

<form class="form-horizontal">
    <div class="col-md-6" id="age">
        <table class="table">
            Reduction selon les tranches d'âge
            <tr>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Jeunes % Rabais</label>
                        <input type="text" class="form-control" id="inputDefault">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="disabledInput">Total</label>
                        <input class="form-control" id="disabledInput" type="text" disabled="">
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Adultes % Rabais</label>
                        <input type="text" class="form-control" id="inputDefault">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="disabledInput">Total</label>
                        <input class="form-control" id="disabledInput" type="text" disabled="">
                    </div>
                </th>
            </tr>
            <tr>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="inputDefault">Ainés % Rabais</label>
                        <input type="text" class="form-control" id="inputDefault">
                    </div>
                </th>
                <th>
                    <div class="form-group">
                        <label class="control-label" for="disabledInput">Total</label>
                        <input class="form-control" id="disabledInput" type="text" disabled="">
                    </div>
                </th>
            </tr>
        </table>
    </div>
</form>
<form class="form-horizontal">
    <div class="row" id="rabais">
        <div class="col-md-6">
            Billet a prix réduits.
            <table class="table">
                <tbody>
                    <tr>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Nombre de billets</label>
                                <input type="text" class="form-control" id="inputDefault">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="inputDefault">Prix</label>
                                <input type="text" class="form-control" id="inputDefault">
                            </div>
                        </th>
                        <th>
                            <div class="form-group">
                                <label class="control-label" for="disabledInput">Total</label>
                                <input class="form-control" id="disabledInput" type="text"disabled="">
                            </div>
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
<form class="form-horizontal">
    <div class="row" id="calculfinal">
        <div class="col-md-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Profits total</th>
                        <th>Dépenses total</th>
                    </tr>
                    <tr>
                        <th>
                           2800.00$
                        </th>
                        <th>
                            3500.00$
                        </th>
                    </tr>
                </thead>
            </table>
            <a href="#" class="btn btn-default">Calculer</a>
        </div>
    </div>
</form>