#calculateur, #souper, #age,#souperdiv {
    float: left;
}

#infoSalle, #forfaits, #carte {
    float: right;
}

#age, #carte, #calculfinal, #tot,#souper {
    padding-left: 0px;
}

#calculfinal {
    margin-left: 0px;
}

#souper{
    width:51%;
    height:inherit;
}

#calculateur, #souper, #souperdiv, #age, #carte, #calculfinal, #tot,h1,h2,h3{
    font-family:"Open Sans",Calibri,Candara,Arial,sans-serif;
}