#calculateur, #souper, #age,#souperdiv {
    float: left;
}

#infoSalle, #forfaits, #carte {
    float: right;
}

#age, #carte, #calculfinal, #tot,#souper {
    padding-left: 0px;
}

#calculfinal {
    margin-left: 0px;
}

h3, h2 {
    font-weight: bold;
}
#souper{
    width:51%;
    height:inherit;
}
