
@{
    ViewBag.Title = "ViewCalculateur";
}
<h2>ViewCalculateur</h2>

<input />
<button data-toggle="modal" class="btn btn-primary">Recherche</button>
<div class="row" id="salle">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>Nom de la salle</th>
                    <th>Nombre de places V.I.P</th>
                    <th>Nombre de places</th>
                    <th>Coûts</th>
                    <th>Détails</th>
                    <th>Date</th>
                </tr>
            </thead>

            <tbody>
                <tr>

                    @foreach (var Act in listeActivite)
                    {
                        <td>
                            @Act
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>
