
@{
    ViewBag.Title = "Detail";
}


<h2>Détail d'un évènement</h2>
@{
    List<string[]> elements = new List<string[]>()
    {
        new string[] {"Nom", "FestiRire 2017" },
        new string[] {"Date de début", "24/06/2017" },
        new string[] {"Date de fin", "24/09/2017" },
        new string[] {"Lien hypertexte", "http://www.hahaha.com/fr" }
    };
}
<form name="createPub" role="form" novalidate class="form-validation">

    @foreach (var user in elements)
    {
        <div class="form-group">
            <label>@user[0]</label>
            <div class="well well-sm">
                @user[1]
            </div>
        </div>
    }
    <div class="form-group">
        <label>Description</label>
        <div class="well well-lg">
            Ceci est la description du festirire 2017
        </div>
    </div>
    <div class="form-group">
        <label>Affiche</label>
        <div class="well well-sm">
            <img src="http://img.over-blog-kiwi.com/0/54/21/78/20160706/ob_c88687_affiche-festirire-web.jpg" height="500" />
        </div>
    </div>
    <label>Sous-Évènements</label>
    <div class="form-group">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="col-md-2">Action</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>Sous-Evenement 1</td>
                    <td>
                        <a href="/Events/Detail" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                        <a href="" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Sous-Evenement 2</td>
                    <td>
                        <a href="/Events/Detail" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                        <a href="" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
                <tr>
                    <td>Sous-Evenement 3</td>
                    <td>
                        <a href="/Events/Detail" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                        <a href="" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="nav nav-tabs">
        <li class="active"><a href="#liste" data-toggle="tab" aria-expanded="true">Liste</a></li>
        <li class=""><a href="#calendrier" data-toggle="tab" aria-expanded="false">Calendrier</a></li>
    </ul>
    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade" id="home">
            <div class="form-group">
                <label>Activités</label>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Responsable</th>
                            <th>État</th>
                            <th>Tâche</th>
                            <th>Détails</th>
                            <th class="col-md-2">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>Sous-Evenement 1</td>
                            <td>Sous-Evenement 1</td>
                            <td>Sous-Evenement 1</td>
                            <td>Sous-Evenement 1</td>
                            <td>
                                <a href="/Events/Detail" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                                <a href="" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                                <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Sous-Evenement 2</td>
                            <td>
                                <a href="/Events/Detail" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                                <a href="" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                                <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                        <tr>
                            <td>Sous-Evenement 3</td>
                            <td>
                                <a href="/Events/Detail" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                                <a href="" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                                <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade active in" id="profile">
            <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</form>