
@{
    ViewBag.Title = "Ajout";
}

<h2>Ajouter une publicité</h2>

 <form name="createPub" role="form" novalidate class="form-validation">

                    <div class="form-group">
                        <label>Évènement</label>
                        <select name="event" class="form-control" required>
                            <option>FestiRire 2017</option>
                            <option>FestiRire 2016</option>
                            <option>FestiRire 2015</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Nom</label>
                        <input class="form-control" type="text" name="nom" required>
                    </div>

                    <div class="form-group">
                        <label>Média</label>
                        <input type="text" name="media" class="form-control" required >
                    </div>

                    <div class="form-group">
                        <label>Type</label>
                        <input type="text" name="type" class="form-control" required>
                    </div>

                    <div class="form-group">
                        <label>Date</label>
                        <input type="date" name="date" class="form-control" required>                     
                    </div> 
                <div class="form-group">
                    <label>Agence de publicité</label>
                    <select name="type" class="form-control" required multiple>
                        <option>Médiative</option>
                        <option>Agence Masse</option>
                        <option>Côté fleuve Inc</option>
                    </select>
                    <a href="/AgencePub/Ajout" data-toggle="modal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i></a>
                </div>
                <br /><br /><br />
                <div class="pull-right">
                    <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>Ajouter</span></button>
                    <a href="/Publicite/Index" class="btn btn-default" data-dismiss="modal">Anuuler</a>
                </div>           


 </form>
