
@{
    ViewBag.Title = "Index";
}

<h2>Publicité</h2>

<div class="row">
    <div class="col-md-12">
        <form class="page-header">
            <div class="input-group">
                <input class="form-control" type="text">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Rechercher</button>
                </span>
            </div>
        </form>
        <a href="/Publicite/Ajout" data-toggle="modal" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>Ajouter</a>
        <table class="table" align="center">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Media</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>

            </thead>
            <tbody>
                <tr>
                    <td>l'humoriste de l'année</td>
                    <td>Radio</td>
                    <td>2016-09-23</td>
                    <td>Promotion</td>
                    <td>
                        <a href="/Publicite/Detail" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info fa-lg"></i></a>
                        <a href="" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>

                </tr>
                <tr>
                    <td>l'humoriste de l'année</td>
                    <td>Radio</td>
                    <td>2016-09-23</td>
                    <td>Promotion</td>
                    <td>
                        <a href="/Publicite/Detail" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info fa-lg"></i></a>
                        <a href="" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                        <a href="" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>

