
@{
    ViewBag.Title = "Ajout";
}

<h2>Ajouter une agence de publicité</h2>

<form name="createPub" role="form" novalidate class="form-validation">

    <div class="form-group">
        <label>Nom</label>
        <input type="text" name="type" class="form-control" required>
    </div>
    <div class="pull-right">
        <button type="submit" class="btn btn-primary blue"><i class="fa fa-save"></i> <span>Ajouter</span></button>
        <a href="/Publicite/Ajout" class="btn btn-default" data-dismiss="modal">Anuuler</a>
    </div>


</form>


