#calculateur, #souper, #age {
    float: left;
}

#infoSalle, #forfaits, #carte {
    float: right;
}

#age, #carte, #calculfinal, #tot,#souper {
    padding-left: 0px;
}

#calculfinal {
    margin-left: 0px;
}
