
@{
    ViewBag.Title = "Activite";
}

<h2>Activite</h2>

<input width="300"/> <button> Recherche</button> 

    <table>
        <tr>
            <th>
                Responsable
            </th>
            <th>
                etat
            </th>
            <th>
                tache
            </th>
            <th>
                details
            </th>
            <th>
                date
            </th>
        </tr>


        <tr>
            <td>
                Michelin Harvey
            </td>
            <td>
                non-réalisé
            </td>
            <td>
                Faire l'éclairage ainsi que le sons
            </td>
            <td>
                La lumière doit etre ajustée selon la norme et le sons doit etre d'une belle qualitée
            </td>
            <td>
                12/09/2016
            </td>
        </tr>

        <tr>
            <td>Ginette Deschenes</td>
            <td>Réalisé</td>
            <td>Rechercher des commanditaires</td>
            <td>Quelqu'un doit s'occuper de la recherche des commanditaire puisque le projet est dispendieux et nous ne possedons pas l'argent nécessaire pour subvenir au besoin</td>
            <td>22/09/2016</td>
        </tr>

    </table>
