USE [PE2_Officiel]
GO
INSERT [tblQuestionSecrete]([Question]) VALUES ('Quel est le nom de votre père ?')
GO
INSERT [tblQuestionSecrete]([Question]) VALUES ('Quel est le nom de votre mère ?')
GO
INSERT [tblQuestionSecrete]([Question]) VALUES ('Quel la rue où vous avez grandi ?')
GO

select * from dbo.AbpUsers
PRINT('Ajout de FK dans la table activite')

GO

UPDATE S_evenement.tblActivite SET noUtilisateur = ABS(2 + ((CAST(ABS(CHECKSUM(NEWID())) % 101 AS FLOAT) / 100) * 4)) WHERE noActivite IN
(
    SELECT TOP 100 PERCENT noActivite FROM S_evenement.tblActivite ORDER BY NEWID()
)

GO

PRINT('Fin de l''ajout de FK dans la table activite')
