body {
  padding-top: 80px;
  height:100%;
}
html {    
    position: relative;
    min-height: 100%;
}
.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 20px;
    margin-top: 30px;
    position: absolute;
    height: 200px;
    bottom: 0px;
    left: 0px;
    right: 0;
    padding: 1rem;
}

.body-container {
    min-height: 100%;
    padding-bottom: 230px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'arial', cursive;
	margin: 0px;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}
.colorStatut{
    width:50px;
    height:50px;
    
}

.colorStatutHalf{
    width:30px;
    height:30px;
    display:inline-block;
}
#legend{
  list-style:none;
}

table:not(.ui-datepicker-calendar) thead tr th:last-child{
    min-width: 170px;
    width: 170px;
}
img{
    max-width:100%;
    max-height:500px;
}

tooltip{
    clear:both;
}
.tablesorter-headerAsc :after{
    /*text-decoration: overline;*/
    font-size:10px;
    content:' ▲';
}

.tablesorter-headerDesc :after{
    /*text-decoration: underline;*/
    font-size:10px;
    content:' ▼';
}
.erreur{
    color:#000;
    width:100%;
    position:relative;
    clear:both;
}
table:not(#infoSalle) th {
    white-space: nowrap;
}
.navbar-inverse, .btn-primary{
    background-color:#003E7E;
}
.btn-danger, .alert-danger{
    background-color:#BB0039;
}
.text-danger{
    color:#BB0039;
}

.btn-warning, tr.warning td{
    background-color:#DB6415 !important;
}
tr.warning:hover td{
    background-color:#CE5B14 !important;
}
.btn-success, .alert-success{
    background-color:#2F8712;
}
.tablesorter-header:not(.sorter-false):hover{
    color:#6B6B6B;
}
#legend div{
    vertical-align: middle;
    margin-left:10px;
}
#legend div:first-child{
    margin-left:0px;
}
#legendeStatut{
    margin-bottom:35px;
}
a.pull-right, .btn.pull-right{
    width:250px;
}
#popupErreur{
    min-height:130px;
}