@model ECJ.Web.Models.tblCommanditaire

@{
    ViewBag.Title = "Create";
}

<h2>Commanditaires</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <label>Nom du commanditaire</label>
        <input class="form-control" type="text" name="nomCommanditaire" required>
    </div>
    <div class="form-group">
        <label>Nom du contact</label>
        <input class="form-control" type="text" name="nomContact" required>
    </div>
    <div class="form-group">
        <label>Affiche</label>
        <input type="file" name="pic" accept="image/png,image/jpeg,image/gif">
    </div>
    <div class="form-group">
        <label>Lien hypertexte</label>
        <input class="form-control" type="text" name="url">
    </div>
    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" rows="5" id="description" name="textePresentation"></textarea>
    </div>
    <div class="form-group">
        <label>Courriel contact</label>
        <input class="form-control" type="text" name="courrielContact" required>
    </div>
    <div class="form-group">
        <label>Numéro de téléphone</label>
        <input class="form-control tel" type="text" name="numTel" required>
    </div>
    <div class="form-group">
        <label>Extension</label>
        <input class="form-control" type="text" name="extension">
    </div>

    <div class="form-group pull-right">
        <button class="btn btn-primary blue valid"><i class="fa fa-save"></i> <span>Ajouter</span></button>
        <a href="/Commanditaire" class="btn btn-default" data-dismiss="modal">Annuler</a>
    </div>
}