
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<div class="form-group">
    <label>Nom du commanditaire : </label>
    <div class="well well-lg">
        Tim Hortons
    </div>
</div>

<div class="form-group">
    <label>Nom du contact : </label>
    <div class="well well-lg">
        Desgagné
    </div>
</div>

<div class="form-group">
    <label>Prénom du contact : </label>
    <div class="well well-lg">
        Jean-Paul
    </div>
</div>

<div class="form-group">
    <label>Logo : </label>
    <div class="well well-lg">
        <image src="http://www.actuallywecreate.com/wp-content/uploads/2012/10/tim-hortons-always-fresh.jpg"></image>
    </div>
</div>

<div class="form-group">
    <label>URL : </label>
    <div class="well well-lg">
        <a href="http://www.timhortons.com/ca/en/index.php">http://www.timhortons.com/ca/en/index.php</a>
    </div>
</div>

<div class="form-group">
    <label>Présentation : </label>
    <div class="well well-lg">
        Notre participation au sein des communautés va bien au-delà de notre café et de nos produits de boulangerie et de pâtisserie exceptionnels.  Tim Hortons soutient fièrement les initiatives communautaires locales dans toutes les collectivités où nous sommes présents.
    </div>
</div>

<div class="form-group">
    <label>Courriel : </label>
    <div class="well well-lg">
        timHortons@hotmail.com
    </div>
</div>

<div class="form-group">
    <label>Numéro de téléphone : </label>
    <div class="well well-lg">
        418-547-3225
    </div>
</div>

<div class="form-group">
    <label>Poste : </label>
    <div class="well well-lg">
        535
    </div>
</div>
