@model ECJ.Web.Models.tblCommanditaire

@{
    ViewBag.Title = "Details";
}

<h2>Dons</h2>

    <div>
    <div class="form-group">
        <label>Montant</label>
        <div class="well well-sm">
            @Model.montant
        </div>
    </div>

    <div class="form-group">
        <label>Date du don</label>
        <div class="well well-sm">
            @Model.dateDon
        </div>
    </div>

    <div class="form-group">
        <label>Nom du sous-évènement</label>
        <div class="well well-sm">
            @Model.tblSousEvenement.nom
            </div>
        </div>
    </div>
<button class="btn btn-default pull-right" data-dismiss="modal" onclick="goBack()">Retour à un Commanditaire</button>

<script>
function goBack() {
    window.history.back();
}
</script>