    @{
        ViewBag.Title = "Index";
    }

    <h2>Commanditaires</h2>

    @{List<string> listecommanditaires = new List<string>();
        int cpt = 0;

        listecommanditaires.Add("Tim Hortons");
        listecommanditaires.Add("Desgagné");
        listecommanditaires.Add("Jean-Paul");
        listecommanditaires.Add("http://www.timhortons.com/ca/en/index.php");
        listecommanditaires.Add("Notre participation au sein des communautés va bien au-delà de notre café et de nos produits de boulangerie et de pâtisserie exceptionnels.  Tim Hortons soutient fièrement les initiatives communautaires locales dans toutes les collectivités où nous sommes présents.");
        listecommanditaires.Add("timHortons@hotmail.com");
        listecommanditaires.Add("418-547-3225");
        listecommanditaires.Add("535"); }

    <input />
    <button data-toggle="modal" class="btn btn-primary"> Recherche</button>
    <div class="row">
        <div class="col-md-12">
            <a href="/commanditaire/Create" data-toggle="modal" class="btn btn-primary pull-right">Creer <i class="fa fa-plus"></i></a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nom du commanditaire</th>
                        <th>Nom du contact</th>
                        <th>Prenom du contact</th>
                        <th>Logo</th>
                        <th>URL</th>
                        <th>Présentation</th>
                        <th>courriel</th>
                        <th>Numéro de téléphone</th>
                        <th>Poste</th>
                        <th>Options</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Tim Hortons</td>
                        <td>Desgagné</td>
                        <td>Jean-Paul</td>
                        <td><image src="http://www.actuallywecreate.com/wp-content/uploads/2012/10/tim-hortons-always-fresh.jpg" style="width:200px"></image></td>
                        <td><a href="http://www.timhortons.com/ca/en/index.php">http://www.timhortons.com/ca/en/index.php</a></td>
                        <td>Notre participation au sein des communautés va bien au-delà de notre café et de nos produits de boulangerie et de pâtisserie exceptionnels.  Tim Hortons soutient fièrement les initiatives communautaires locales dans toutes les collectivités où nous sommes présents.</td>
                        <td>timHortons@hotmail.com</td>
                        <td>418-547-3225</td>
                        <td>535</td>
                        <td>
                            <a href="" class="fa fa-trash"></a><br />
                            <a href="" class="fa fa-pencil"></a><br />
                            <a href="/Commanditaire/Detail" class="fa fa-info-circle"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
