@model IEnumerable<ECJ.Web.Models.tblCommanditaire>

@{
    ViewBag.Title = "Index";
    ViewBag.ActiveMenu = "Commanditaires";
}

<h1>Commanditaire</h1>
<div>
    <div>
        @using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "page-header" }))
        {
            <div class="input-group">
                <input class="form-control" type="text" name="recherche" value="@ViewBag.recherche">
                <span class="input-group-btn">
                    <button class="btn btn-primary">Rechercher</button>
                </span>
                <span class="input-group-btn">
                    <a href="~/Commanditaire/" class="btn btn-default">Vider</a>
                </span>
            </div>
        }
        <a href="~/Commanditaire/Create" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Créer un commanditaire</a>
        <table class="table" align="center" data-sortlist="[[3,1]]">
            <thead>
                <tr>
                    <th>
                        Nom du commanditaire
                    </th>
                    <th>
                        Nom du contact
                    </th>
                    <th>
                        Courriel
                    </th>
                    <th>
                        Montant
                    </th>
                    <th>
                        Rang
                    </th>
                    <th data-sorter="false">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.dateSupprime == null)
                    {
                        var sommeDon = item.tblDon.Where(d => 
                        d.dateSupprime == null && 
                        d.tblSousEvenement.dateSupprime == null && 
                        d.tblSousEvenement.tblEvenement.dateSupprime == null
                        ).Sum(d => d.montant);
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.nomCommanditaire)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.nomContact)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.courrielContact)
                            </td>
                            <td class="{sorter:'monetaryValue'}">


                                <p>@sommeDon$</p>
                        </td>

                        @{

                            if (sommeDon >= 1500)
                            {
                                <td data-text="4">Or</td>
                            }
                            else if (sommeDon >= 1000)
                            {
                                <td data-text="3">Argent</td>
                            }
                            else if (sommeDon >= 500)
                            {
                                <td data-text="2">Bronze</td>
                            }
                            else if (sommeDon > 0)
                            {
                                <td data-text="1">Ami</td>
                            }
                            else
                            {
                                <td data-text="0">Aucun rang</td>
                            }

                        }

                        <td>
                            <a href="~/Commanditaire/Details/@item.noCommanditaire" class="btn btn-sm btn-primary" title="Détail"><i class="fa fa-info-circle fa-lg"></i></a>
                            <a href="~/Commanditaire/Edit/@item.noCommanditaire" class="btn btn-sm btn-primary" title="Modifier"><i class="fa fa-pencil fa-lg"></i></a>
                            <a href="~/Don/Create/@item.noCommanditaire" class="btn btn-sm btn-primary" title="Ajouter"><i class="fa fa-money fa-lg"></i></a>
                            <a href="~/Commanditaire/Supprimer/@item.noCommanditaire" class="btn btn-sm btn-danger" title="Supprimer"><i class="fa fa-trash fa-lg"></i></a>

                        </td>
                    </tr>
                                }
                            }
            </tbody>
        </table>
    </div>
</div>