@{
    ViewBag.Title = "Detail";
}
<h2>Détail de la soumission</h2>

<form name="createPub" role="form" novalidate class="form-validation">

    <div class="form-group">
        <label>Nom</label>
        <div class="well well-sm">
           Soumission1
        </div>
    </div>
    <div class="form-group">
        <label>Prix</label>
        <div class="well well-sm">
           45.95$
        </div>
    </div>

    <div class="form-group">
        <label>Nom de l'appel d'offre</label>
        <div class="well well-sm">
            l'humoriste de l'année
        </div>
    </div>

    <div class="form-group">
        <label>Description</label>
        <div class="well well-sm">
           Première soumission
        </div>
    </div>
    <br />
    <a href="/AppelOffre/Detail" class="btn btn-default pull-right " data-dismiss="modal">Retour</a>
</form>