@using Abp.Authorization.Users
@using Abp.Web.Mvc.Extensions
@using System.Web.Script.Serialization
@using System.Text
@{
    ViewBag.Title = "Create";
}

<h2>Activité</h2>
<!-- Evenement, Sous-Evenement-->
@model Tuple<int?, int?>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <form name="createPub" role="form" novalidate class="form-validation">
        <div class="form-group">
            <label>Nom du Responsable : </label>
            <input class="form-control" type="text" name="UserName" required maxlength="50" minlength="2">
        </div>

        <div class="form-group">
            <label>État : </label>
            <input class="form-control" type="text" name="UserName" required maxlength="25" minlength="2">
        </div>

        <div class="form-group">
            <label>Tâches : </label>
            <input class="form-control" type="text" name="UserName" required maxlength="50" minlength="2">
        </div>

        <div class="form-group">
            <label>Details : </label>
            <input class="form-control" type="text" name="UserName">
        </div>
        <div class="form-group">
            <label>Date : </label>
            <input class="form-control" type="text" name="UserName">
        </div>

        <input type="submit" value="Créer" class="btn btn-primary pull-right" />
    </form>
}