
@{
    ViewBag.Title = "Create";
}

<h2>Activité</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend></legend>

        <label for="responsable" >Responsable :</label>

        <input type="text" name="responsable"><br>

        <label for="Etat">État:</label>

        <input type="text" name="Etat"><br>

        <label for="Taches">Tâches :</label>

        <input type="text" name="Taches"><br>

        <label for="Details">Détails :</label>

        <input type="text" name="Details"><br>

        <label for="Date">Date :</label>
        <form>
            <input type="datetime-local" name="Date">
        </form>

        <p>
            <input type="submit" value="Create" class="btn btn-primary pull-left" />
        </p>
    </fieldset>
}