
@{
    ViewBag.Title = "Detail";
}

<h2>Detail d'une activité</h2>

<div>
    <div class="form-group">
        <label>Nom du responsable : </label>
        <div class="well well-lg">
            Gilles Tremblay
        </div>
    </div>

    <div class="form-group">
        <label>Tâche : </label>
        <div class="well well-lg">
            Faire une entrevue à la radio
        </div>
    </div>

    <div class="form-group">
        <label>Etat : </label>
        <div class="well well-lg">
            Terminé
        </div>
    </div>

    <div class="form-group">
        <label>Details : </label>
        <div class="well well-lg">
            Le transport doit être fourni et les repas doivent être payé (matin-midi-soir)
        </div>
    </div>

    <div class="form-group">
        <label>Date : </label>
        <div class="well well-lg">
            30/09/2016
        </div>
    </div>
</div>