
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{List<string> listeActivite = new List<string>();

    listeActivite.Add("Michelin Harvey");
    listeActivite.Add("non-réalisé");
    listeActivite.Add("Faire l'éclairage ainsi que le sons");
    listeActivite.Add("La lumière doit etre ajustée selon la norme et le sons doit etre d'une belle qualitée");
    listeActivite.Add("12/09/2016"); }

<input/>
<button data-toggle="modal" class="btn btn-primary"> Recherche</button>
<div class="row">
    <div class="col-md-12">
        <a href="/Activite/Create" data-toggle="modal" class="btn btn-primary pull-right">Creer <i class="fa fa-plus"></i></a>
        <table class="table">
            <thead>
                <tr>
                    <th>Responsable</th>
                    <th>etat</th>
                    <th>tache</th>
                    <th>details</th>
                    <th>date</th>
                </tr>
            </thead>

            <tbody>
                <tr>

                    @foreach (var Act in listeActivite)
                    {
                        <td>
                            @Act
                        </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>
